@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import '../../../variables.scss';

.carousel-container {
  width: 100%;
  overflow: hidden;
  border-top: .2rem solid $yellow;
  border-bottom: .2rem solid $yellow;
  margin: 2rem 0 1.5rem 0;
}

.carousel-content {
  white-space: nowrap;
  font-size: 30px;
  font-weight: 900;
  color: $yellow;
  animation: moveLeft 9s linear infinite;
  font-family: 'Archivo Black', sans-serif;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
