@import '../../../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.carousel-container {
  width: 100%;
  overflow: hidden;
  border-top: .2rem solid $nyx-blue-light;
  border-bottom: .2rem solid $nyx-blue-light;
  margin: 2rem 0 1.5rem 0;
  opacity: .8;
}

.carousel-content {
  white-space: nowrap;
  font-size: 30px;
  color: $nyx-blue-light;
  animation: moveLeft 9s linear infinite;
  font-family: 'Dela Gothic One', sans-serif;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
