.banner-container {
  .banner {
    cursor: pointer;
    width: 100%;
    margin-bottom: 16px;
  }
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
