.banner-container {
  width: 100%;
  .banner {
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;

    source,
    img {
      width: 100%;
    }
  }
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
