<div class="banner-container">
  <img
    src="assets/img/Banner-product.png"
    alt="Banner product"
    class="banner"
    routerLink="/products/list"
  />
</div>
<shared-carousel-title [word]="'PRODUCTOS'"></shared-carousel-title>
<div class="products-container">
  <shared-grid>
    <product-card *ngFor="let product of products" [product]="product"></product-card>
  </shared-grid>
  <shared-button buttonText="Ver todos" routerLink="/products/list"></shared-button>
</div>
<hr />
<shared-grid title="Categorías populares">
  <category-card></category-card>
  <category-card></category-card>
  <category-card></category-card>
  <category-card></category-card>
  <category-card></category-card>
  <category-card></category-card>
</shared-grid>
