<div class="banner-container" routerLink="products">
  <img
    src="assets/img/Banner-product.png"
    alt="Banner product"
    class="banner"
  />
  <img src="assets/img/Nyx-Sys device.png" alt="Nyx-Sys Device" class="float" />
</div>
<shared-carousel-title [word]="'PRODUCTOS'"></shared-carousel-title>
<div class="products-container">
  <shared-grid>
    <product-card></product-card>
    <product-card></product-card>
    <product-card></product-card>
    <product-card></product-card>
    <product-card></product-card>
    <product-card></product-card>
  </shared-grid>
  <shared-button buttonText="Ver todos" routerLink="products"></shared-button>
</div>
<hr />
<shared-grid title="Categorías populares">
  <category-card></category-card>
  <category-card></category-card>
  <category-card></category-card>
  <category-card></category-card>
  <category-card></category-card>
  <category-card></category-card>
</shared-grid>
