@import '../../../variables.scss';

.price-container {

  .inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      min-width: 5.3125rem;
    }
  }

  span {
    margin: 0 0.625rem;
  }
}

label {
  font-size: .9rem;
}
