<div class="container">
  <div class="detail-container">
    <img
      src="https://fastly.picsum.photos/id/0/5000/3333.jpg?hmac=_j6ghY5fCfSD6tvtcV74zXivkJSPIfR9B8w34XeQmvU"
      alt=""
    />
    <div class="description-product">
      <div class="info">
        <h3 class="title">Notebook 15'</h3>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          quaerat ipsa quidem, ut officiis molestias eos quibusdam quia
          aspernatur quod adipisci dolorum, minima voluptas itaque repellendus
          tempora consequuntur quo laborum.
        </p>
        <span class="price">$ 100,00</span>
      </div>
      <div class="buttons">
        <shared-button buttonText="Comprar"></shared-button>
        <shared-button buttonText="Agregar al carrito"></shared-button>
      </div>
    </div>
  </div>
</div>
