@import '../../../variables.scss';

.detail-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  img {
    width: 50%;
    border-radius: 0.5rem;
  }

  .description-product {
    width: 50%;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info {
      .title {
        margin-bottom: .3rem;
      }
      .price {
        width: 100%;
        display: block;
        text-align: end;
        font-size: 1.5rem;
        font-weight: bold;
      }
      .category {
        font-size: .8rem;
        color: $text-light;
        margin-top: 0;
        margin-bottom: 1.25rem;
      }
    }

    .info.dark {
      filter: invert(1);
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      gap: 0.9375rem;
    }
  }
}

@media screen and (max-width: 570px) {
  .detail-container {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-bottom: 15px;

    .description-product {
      width: 100%;
      gap: 15px;
    }
  }
}
