@import "./../../../variables.scss";

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    140deg,
    rgba(48, 67, 206, 1) 12%,
    rgba(4, 12, 60, 1) 100%
  );
  background-blend-mode: normal;
  margin: 0.625rem 0.625rem 0.75rem 0.625rem;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  box-shadow: 0.125rem 0.125rem 0.5625rem 0rem rgba(0, 0, 0, 0.8);

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
  }

  @media screen and (max-width: 540px) {
    .links {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
  }

  img {
    width: 12.5rem;
    cursor: pointer;
  }

  .menu__link {
    color: #fff;
    line-height: 1.5;
    position: relative;
  }

  .menu__link::before {
    content: "";
    width: 0;
    height: 0.125rem;
    border-radius: 0.125rem;
    background-color: #fff;
    position: absolute;
    bottom: -0.1rem;
    left: 50%;
    transition: width 0.4s, left 0.4s;
  }

  .menu__link:hover::before {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 540px) {
  .custom-navbar {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
