@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700;900&display=swap');

$nyx-blue-light: #3043ce;
$nyx-blue: #1c28d0;
$nyx-blue-dark: #040c3c;
$yellow: #FFC436;
$pink-light: #FFF0CE;
$text-dark: #363636;
$text-light: #757575;

// font-family: 'Red Hat Display', sans-serif;
