@import '../../../variables.scss';

.footer {
  background: #000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.8);
  bottom: 0;

  .copy {
    color: #fff;
    font-size: .8rem;
    margin: 0;
  }
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 40px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid $nyx-blue;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 40px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: $nyx-blue;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
  border-color: #3898EC;
  outline: none;
}
