.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 0.9375rem;
  width: 3rem;
  height: 3rem;
  gap: 0.9375rem;
  background-color: white;
  outline-offset: -0.1875rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
  fill: #181717
}

.button:hover {
  background-color: #181717;
}

.button:hover svg path {
  fill: white;
}
