<div class="page-container">
  <div class="filters-container">
    <shared-input-text
      class="mb-4 w-100"
      placeholder="Buscar por nombre"
      (onChange)="setName($event)"
      (keyup.enter)="searchProducts()"
    ></shared-input-text>
    <shared-input-select
      class="mb-4 w-100"
      (onChange)="setCategory($event)"
    ></shared-input-select>
    <shared-input-price
      (onChange)="setPrice($event)"
      (keyup.enter)="searchProducts()"
    ></shared-input-price>
    <div class="btn-container">
      <button (click)="deleteFilters()">Borrar</button>
    </div>
  </div>
  <div class="products">
    <shared-grid class="w-100">
      <product-card
        *ngFor="let product of products"
        [product]="product"
      ></product-card>
    </shared-grid>
    <div class="pagination">
      <a (click)="previousPage()" class="menu__link">< Anterior</a>
      <a (click)="nextPage()" class="menu__link">Siguiente ></a>
    </div>
  </div>
</div>
