@import '../../../variables.scss';

.page-container {
  display: flex;
  justify-content: space-between;
}

.filters-container {
  margin: 16px 10px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid $text-light;

  .btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: 15px;

    button {
      border: none;
      background-color: $nyx-blue;
      color: white;
      padding: 6px 10px;
      border-radius: 5px;
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .pagination {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
}

.menu__link {
  color: $text-dark;
  line-height: 1.5;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: $text-dark;
  position: absolute;
  bottom: -0.1rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}
