<div class="page-container">
  <div class="filters-container">
    <shared-input-text class="mb-4 w-100"></shared-input-text>
    <shared-input-select class="mb-4 w-100"></shared-input-select>
    <shared-input-price></shared-input-price>
  </div>
  <shared-grid class="w-100">
    <product-card></product-card>
    <product-card></product-card>
    <product-card></product-card>
    <product-card></product-card>
    <product-card></product-card>
    <product-card></product-card>
  </shared-grid>
</div>
