.container-input {
  position: relative;
}

.input-search {
  width: 9.375rem;
  padding: 0.625rem 0rem 0.625rem 2.5rem;
  border-radius: 0.3125rem;
  border: solid 0.0625rem #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  transform: translate(0, -50%);
}

.input-search:focus {
  opacity: 1;
  width: 15.625rem;
}
