@import '../src/app/variables.scss';

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #d0d8df;
  position: relative;
}

.input {
  font-size: 1rem;
  padding: .5rem 1rem;
  border: 1px solid $text-light;
  border-radius: .3rem;
  background-color: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  height: 40px;
  color: $text-dark;
}

.input:hover {
  background-color: #f2f2f2;
}

.input:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input::placeholder {
  color: $text-light;
}

@keyframes input-focus {
  from {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  }

  to {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.input:focus {
  animation: input-focus 0.3s ease;
}
